.header{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
}
.h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #000000;
    margin-bottom: 5em;
}
.h2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
display: flex;
align-items: center;
margin-bottom: 1em;

color: #000000;


}
.input{
    border: 1.10883px solid #D3D3D3;
    border-radius: 3.3265px;
    display: flex;
    flex: 1;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;

    /* Gray 3 */
    color: #828282;
    padding: 10px 15px;
    outline: none;
    margin:7px 22px;
}
.select{
    border: 1.10883px solid #D3D3D3;
    border-radius: 3.3265px;
    display: flex;
    flex: 1;    
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    cursor: pointer;

}
.select>p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-top: 0;
    margin-bottom: 0;
    /* Gray 3 */
    color: #BDBDBD;
    display: flex;
    flex: 1;
}
.row{
    display: flex;
    flex: 1;
    flex-direction: row;
}
.list{
    display: flex;
    flex: 1;
    flex-direction: column;
    position: absolute;
    top: 44px;
    background-color: white;
    width: 100%;
    padding: 0px 10px;
    transform: scaleY(0);
    transition: all 0.2s ease;
    transform-origin: 0 0%;
}
.list.active{
    transform: scaleY(1);
}
.item{
    display: flex;
    flex: 1;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding: 0px 15px;
    color: #303030;
    cursor: pointer;
}
.item{
    display: flex;
    flex: 1;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding: 10px 15px;
    color: #303030;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 5px;
}
.item:hover{
    background-color: #F5BB3D;
    color: white;
}
