.header{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    flex-direction: column ;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 1em;
    padding-bottom: 0em;
    height: center;
    height: 816px;
    background: url(/image/footer.png);
    background-size: cover;
    margin-top: -150px;
}
.image{
    object-fit: contain;
    width: 120px;
    height: 45px;
}
.row{
    display: flex;
    justify-content: center;
}
.flex{
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
}
.flex p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 133%;
    margin-top: 10px;
    margin-bottom: 10px;
    /* identical to box height, or 27px */

    color: #FFFFFF;
}
.row i{
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
    color: #FFFFFF;
}
.footer{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    
    color: #FFFFFF;
}
@media screen and (max-width:576px) {
    .top{
        display: none;
    }
    .header{
        background: #2D2669;
        height: auto;
        padding-right: 10px;
        padding-left: 10px;
    }
    .footer{
        font-size: 8px;
    }
}