
.container{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 1em;
    padding-bottom: 1em;
    min-height: 90vh;

}
.flex{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
