
.section{
    min-height: 100vh;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    
    /* identical to box height */
    
    color: #2D2669;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    flex: 1;
    margin-top: 10px;
    margin-bottom: 10px;
}
@media screen and (max-width:576px) {
    .title{
        font-size: 25px;        
    }
    .container{
        padding-left: 5px;
        padding-right: 5px;
        flex-direction: column;
    }
    
    .section{
        min-height: auto;
    }
    .row{
        flex-wrap: wrap;
    }
}